/* seletor universal aplica em todos os elementos*/

/* isso serve para zerar os estilos padroes do navegador MUITO IMPORTANTE*/
* {
    margin: 0;
    padding: 0;
}
/* seletor de tag */
header,footer{
    background-color: grey;
    color: white;
    padding: 10px;
}
/* seletor de elementos aninhados, pega um elemento dentro de um outro */
nav a{
    color: #27ae60;
}
/* seletor de filhos, quando está imediatamente dentro de algum elemento */
nav > a{
    display: block;
    padding: 10px;
    color: #27ae60;
}
/* seletor de classe */
.laranja{
    color: orange;
}
.verde{
    color:green;
}

/* seletor de id */
#secao-principal{  
    padding: 10px;
    text-align: center;

}

/* combinação de seletores */
#secao-principal > *{
    margin-top: 10px;
}

/* seletor de sequencia */
input{
    display: block;
    padding: 5px;
    margin: 5px;
}
input + input{
    margin-top: 30px;
    margin-bottom: 30px;
}
/* só existe um p que vem logo depois de um h2 */
h2 + p{
    margin-top: 30px;
    margin-bottom: 30px;
}