.box{
    background-color: #f64348;
    border: 4px solid black;
}
.box{ 
    /* adicione comentarios no codigo */
    margin-top: 30px; /* vai adicionar uma margem de 30px no topo */
    margin-bottom: 30px;  /* vai adicionar uma margem de 30px na parte de baixo */
    
    padding-left: 30px;  /* vai adicionar um padding de 10px, é o espaço entre o texto e a caixa */
    padding-right: 3px;  /* vai adicionar um padding de 10px, é o espaço entre o texto e a caixa */      ;  
}
